{% extends 'base.html' %}
{% block content %}
<h2>Add Member</h2>

<div class="mb-3">
  <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Go to Dashboard</a>
  <a href="{{ url_for('view_members') }}" class="btn btn-secondary">Back</a>
</div>

<form method="POST">
  <input type="text" name="name" class="form-control mb-2" placeholder="Member Name" required>
  <input type="email" name="email" class="form-control mb-2" placeholder="Email" required>
  <input type="text" name="phone" class="form-control mb-2" placeholder="Phone" required>
  <button type="submit" class="btn btn-success">Add Member</button>
</form>
{% endblock %}
