{% extends 'base.html' %}
{% block content %}
<h2>Dashboard</h2>
<ul class="list-group">
  <li class="list-group-item"><a href="/add-book">Add Book</a></li>
  <li class="list-group-item"><a href="/view-books">View Books</a></li>
  <li class="list-group-item"><a href="/add-member">Add Member</a></li>
  <li class="list-group-item"><a href="/view-members">View Members</a></li>
  <li class="list-group-item"><a href="/issue-book">Issue Book</a></li>
  <li class="list-group-item"><a href="/view-issued">Issued Books</a></li>
</ul>
{% endblock %}